
.fixed-height-card {
  height: calc(100vh - 16rem);
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}